# Ignorar pycache y entornos virtuales
**/__pycache__/
**/venv/

# Ignorar logs y subdirectorios
airflow/logs/
airflow/logs/*
logs/
logs/*

# Ignorar archivos .log en cualquier parte
*.log

docker-compose.yaml 

docker-composeviejo.yaml
